<!doctype html>
<html>
  <head>
    <title>Upload your image to describe!</title>
  </head>
  <body>
    <h2>Select an image file to upload</h2>
    <form action="http://localhost:5000/result" method="post" action="/" enctype="multipart/form-data">
      <dl>
        <p>
        <input type="file" name="file" autocomplete="off" required>
        </p>
      </dl>
      <p>
      <input type="submit" value="Submit">
      </p>
    </form>
    <br/>
    <br/>
    <h4>NOTE: The less clearly the product is displayed, the less tailored the description will be.</h4>
  </body>
</html>

